<div id="pageBody">
	<section id="contentWrapper">
		<!-- ================================= Actual Page Content ============================================= -->
		<div>
			<h1 class="pageHeader">Select Account</h1>
			<sdl-message key="gmess_selectAccount_top_tctxt"></sdl-message>
			<div class="">
				<div class="mT3P">
					<div id="searchAreaHolder">
						<div class="inlineBlock">
							<label for="searchBy" class="label">Find Units:</label>
							<select id="searchBy" name="searchBy" (change)="onSearchBySelection($event)">
									<option value="BP">Business Partner Account #</option>
									<option *ngIf="notOnMngtNodes" value="AN">Account Name</option>
									<option *ngIf="notOnMngtNodes" value="PN">Property Name</option>
									<option value="TID">Tax ID</option>
							</select>
							<label for="searchVal" class="hide">Business Partner Account #</label>
							<input type="text" maxlength="10" placeholder="" (change)="onSearchStringChange($event)" name="searchVal" id="searchVal"/>
							<button class="searchBtn" type="button" (click)="search()">{{searchTitle}} &gt;</button>
						</div>
					</div>
					<gme-error *ngIf="isSearchStringEmpty" [errorMessage]="searchErrorMessage"></gme-error>
					<gme-error *ngIf="isLoadingSuccess && isHierarchyNotFound" errorMessage="Uh, oh. We can't seem to find that account. Please call 1-800-273-2135 and mention error code WBPANF, so that we can sort it out."></gme-error>
				</div>
				<loading-indicator *ngIf="isLoading"></loading-indicator>
				<ng-container *ngIf="showResult">
					<management *ngIf="mngBP" [mngList]="mngList" (onManagementClick)="onManagement($event)"></management>
					<region *ngIf="regionBP" [regionList]="regionList" (onRegionClick)="onRegion($event)"></region>
					<property *ngIf="propertyBP" [propertyList]="propertyList" (onPropertyClick)="onProperty($event)"></property>
				</ng-container>
			</div>
		</div>
		<!-- ================================= Actual Page Content end ========================================= -->
	</section>
</div>
