<header>
		<nav>
	<div class="desktopMenu">
			<div class="mainMenu relative">
				<a href="/" target="_self" class="logo absolute">
					<gme-image-loader imageUrlIn="/images/gmec-logo-white-background-02.png" altName="Green Mountain Energy"></gme-image-loader>
				</a>

							<ul class="sublinks text-right menuRightAlign">
								<li><a href="http://www.businessportal.greenmountain.com/" target="_cslrSolarBasics">Greenmountain.com</a></li>
								<li><a href="https://www.greenmountainenergy.com/for-customers/contact-us/" target="_cslrAboutUs">Contact us</a></li>

							</ul>
							<ul class="mobileNav">
								<li class=""> <a href="/public/altLogin.htm" class="userNav"><span class="userNavIcon"></span></a><span class="loginMenuText">Login</span></li>
								<li class="mobileMenu" data-menuopened="false"><span class="stripeIcon"></span><span class="mobileMenuText">Menu</span></li>
							</ul>
			</div>

			<div class="subMenu">
				<ul class="sublinks">

				</ul>
			</div>
		</div>
		<!-- Start Mobile Menu-->
			<div class="mobileMenu">

			</div>
		<!-- End Mobile Menu-->
		</nav>
	</header>
