<div class="padding3Per mT3P">
  <h1 class="pageHeader">Correspondence</h1>
  <div class="tableInfo">
      <div class="infoRow">
        <div  class="infoColumn">Mailing Address:</div>
        <div  class="infoColumn">{{address?.streetNum}} {{address?.streetName}}<br/>{{address?.city}}, {{address?.state}} {{address?.zipcode}}</div>
      </div>
      <div class="infoRow">
        <div  class="infoColumn">Phone:</div>
        <div  class="infoColumn">{{phoneNumber | formatphone}}</div>
      </div>
  </div>
</div>
