<div class="mainMenu relative">
  <a href="https://www.greenmountainenergy.com/" target="_self" class="logo absolute">
    <gme-image-loader imageUrlIn="/images/gmec-logo-white-background-02.png" altName="Green Mountain Energy"></gme-image-loader>
  </a>

        <ul class="sublinks text-right menuRightAlign">
          <li><a href="https://www.greenmountainenergy.com/" target="_cslrSolarBasics">Greenmountain.com</a></li>
        <!--  <li><a href="https://www.greenmountainenergy.com/for-customers/contact-us/" target="_cslrAboutUs">Contact us</a></li>-->
          <li><gme-logout></gme-logout><li>
        </ul>
        <ul class="mobileNav">
          <li class=""> <a href="/public/altLogin.htm" class="userNav"><span class="userNavIcon"></span></a><span class="loginMenuText">Login</span></li>
          <li class="mobileMenu" data-menuopened="false"><span class="stripeIcon"></span><span class="mobileMenuText">Menu</span></li>
        </ul>
</div>
