<footer>
			<div class="quickLinks">
				<h3>QUICK LINKS</h3>
				<div class="quicklinkSection">
					<h4>Service</h4>
					<a routerLink="/protected/customer/service/start/selectproperty.htm">Start Service</a>
					<a routerLink="/protected/customer/service/stop/businessinfo.htm">Stop Service</a>
				</div>
				<div class="quicklinkSection">
					<h4>Reports</h4>
					<a routerLink="/protected/customer/reports/vacancy.htm">Vacancy Report</a>
					<a routerLink="/protected/customer/reports/roll.htm">Roll In Report</a>
					<a routerLink="/protected/customer/reports/roll.htm">Roll Out Report</a>
				</div>
				<div class="quicklinkSection">
					<h4>Billing</h4>
					<a routerLink="/protected/customer/billing/paybill/viewbill.htm">View Current Bill</a>
					<a routerLink="/protected/customer/billing/paybill/viewbill.htm">Pay Current Bill</a>
					<a routerLink="/protected/customer/billing/paymenthistory.htm">Payment History</a>
					<a routerLink="/protected/customer/billing/previousbills.htm">Previous Bills</a>
				</div>
				<div class="quicklinkSection">
					<h4>Monitoring</h4>
					<a routerLink="/protected/customer/vacancy/alertsetup.htm">Vacant Unit Alert Setup</a>
					<a routerLink="/protected/customer/vacancy/dailyreport.htm">Daily Report</a>
				</div>
				<div class="quicklinkSection">
					<a routerLink="/protected/customer/transactions/list.htm"><h4>Transactions</h4></a>
				</div>
				<div class="quicklinkSection">
					<a routerLink="/protected/customer/forms/list.htm"><h4>Forms</h4></a>
				</div>
				<div class="quicklinkSection">
					<a routerLink="/protected/customer/profile/overview.htm"><h4>Profile</h4></a>
				</div>
			</div>
			<div class="footerLinkSection">
				<a target="_blank" href="https://www.greenmountainenergy.com/our-story/news-room/">News Room</a> |
				<a target="_blank" href="https://www.greenmountainenergy.com/terms-of-use/">Terms of Use</a> |
				<a target="_blank" href="https://www.greenmountainenergy.com/privacy-policy/">Privacy Policy</a> <br/>
				<span class="copyright">&copy; 2018 Green Mountain Energy Company. Copyright. PUCT Certificate No. 10009.</span>
			</div>
    </footer>
