<footer>
  <div class="quickLinks">


  </div>
  <div class="footerLinkSection">
    <a target="_blank" href="https://www.greenmountainenergy.com/our-story/news-room/">News Room</a> |
    <a target="_blank" href="https://www.greenmountainenergy.com/terms-of-use/">Terms of Use</a> |
    <a target="_blank" href="https://www.greenmountainenergy.com/privacy-policy/">Privacy Policy</a> <br/>
    <span class="copyright">&copy; 2018 Green Mountain Energy Company. Copyright. PUCT Certificate No. 10009.</span>
  </div>
</footer>
