<p>Your payment has been modified. View, <a routerLink="/protected/customer/billing/paymenthistory.htm">Payment History</a>
  to see your modified payment.
</p>
<p>We will send you a confirmation email shortly. You may also print this page for your records.</p>

<div class="infoHolder mT3P">
    <div>
      <div class="label">Date and Time:</div>
      <div class="data">{{time}}</div>
    </div>
    <div>
      <div class="label">Confirmation Number:</div>
      <div class="data">{{confirmNumber}}</div>
    </div>
    <div>
      <div class="label">Confirmation Email Sent To:</div>
      <div class="data">{{email}}</div>
    </div>
</div>
