<section id="contentWrapper">
			<div>
				<h1 class="pageHeader">Add User Verification</h1>
				<p>Please verify that the information below is correct. To make a change, press the Back button</p>
				<div class="infoHolder mT3P">
							<div>
								<div class="label">Internal/External:</div>
								<div class="data">External</div>
							</div>
							<div>
								<div class="label">Security Role:</div>
								<div class="data">{{(userInfo$ | async)?.securityRole | associatetype}}</div>
							</div>
							<div>
								<div class="label">Name:</div>
								<div class="data">{{(userInfo$ | async)?.user.firstName}} {{(userInfo$ | async)?.user.lastName}}</div>
							</div>
							<div>
								<div class="label">Username:</div>
								<div class="data">{{(userInfo$ | async)?.user.userName}}</div>
							</div>
							<div>
								<div class="label">Email address:</div>
								<div class="data">{{(userInfo$ | async)?.user.emailAddress}}</div>
							</div>
							<div>
								<div class="label">Phone number:</div>
								<div class="data">{{(userInfo$ | async)?.user.phoneNumber | formatphone}} {{(userInfo$ | async)?.user.phoneExtNumber | extn}}</div>
							</div>
							<div>
								<div class="label">Alternate phone number:</div>
								<div class="data">{{(userInfo$ | async)?.user.altPhoneNumber | formatphone}} {{(userInfo$ | async)?.user.altPhoneExtNumber | extn}}</div>
							</div>
							<div>
								<div class="label">Fax number:</div>
								<div class="data">{{(userInfo$ | async)?.user.faxNumber | formatphone}}</div>
							</div>
							<div *ngIf="showAccessPrivileges">
								<div class="label">Access privileges:</div>
								<div class="data">
									<div>Transactional and report access:</div>
									<div class="mL20" *ngIf="(userInfo$ | async)?.user.startStopAccess">- Able to request start/stop service</div>
									<div class="mL20" *ngIf="(userInfo$ | async)?.user.payBillAccess">- Able to pay bills</div>
								</div>
							</div>
				</div>
				<customer-associations
						(accessPrivEvent)="onBrokerAccesspriv($event)"
						[addUserVerify]="true"
						[securityRole]="securityRole"
						[customerList]="(userInfo$ | async)?.customerList">
				</customer-associations>
				<div id="buttonHolder" class="text-right">
						<button class="black" (click)="onBack()" type="button">Back</button>
						<button class="blue" (click)="onConfirm()">Continue</button>
					</div>
        </div>
		</section>
