<div id="divid">
  <div *ngIf="editingDone">
    <div class="label">Password:</div>
    <div class="data">*******************</div>
    <div class="inlineBlock width40Per text-right"><a (click)="onEdit()" class="edit">Edit</a></div>
  </div>
  <div class="inlineBlock" *ngIf="editing">
      <p *ngIf="isError" class="errMsg">Password must match in both fields. Your password must meet the following criteria: Must contain at least 7 characters; Must include at least one uppercase and lowercase character; Must contain one number; Must not contain special characters (i.e. #, !)"</p>
      <div class="inlineBlock">
        <label for="password">Password</label>
        <input type="password" name="password" [ngClass]="{'bordercls':passwordsMismatch}" [(ngModel)]="newPassword" value={{newPassword}}/>
      </div>
      <div class="inlineBlock mL20">
        <label for="repassword">Retype Password</label>
        <input type="password" name="repassword" [ngClass]="{'bordercls':passwordsMismatch}" [(ngModel)]="newRePassword" value={{newRePassword}}/>
      </div>
      <div class="inlineBlock">
        <a (click)="onSave()">Save</a>
        <a (click)="onCancel()" class="mL20">Cancel</a>
      </div>
  </div>
</div>
