<footer id="homeFooter">
		<div class="footerSectionHolder">
		<div class="footerSection firstSection">
			<ul id="menu-footer-nav" class="menu">
				<li class="menu-item  menu-item-has-children"><a href="https://www.greenmountainenergy.com/for-home/">For Home</a>
					<ul class="sub-menu">
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-home/shop-for-electricity/">Shop for Electricity</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-home/customer-testimonials/">Customer Testimonials</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/markets-we-serve-projects-we-support/">Markets We Serve</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-home/residential-solar/">Residential Solar</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-home/carbon-offsets/">Carbon Offsets</a></li>
					</ul>
				</li>
				<li  class="menu-item  menu-item-has-children"><a href="https://www.greenmountainenergy.com/for-business/">For Business</a>
					<ul class="sub-menu">
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-business/get-a-quote/">Get a Quote</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-business/small-business-electricity/">Small Business</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-business/medium-large-business-electricity/">Medium &amp; Large Business</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-business/business-solutions/case-studies/">Business Case Studies</a></li>
					</ul>
				</li>
				<li  class="menu-item  menu-item-has-children"><a href="https://www.greenmountainenergy.com/for-customers/">For Customers</a>
					<ul class="sub-menu">
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-customers/my-account/">My Account Log-In</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-customers/contact-us/">Contact Us</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-customers/frequently-asked-questions/">Frequently Asked Questions</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-customers/how-to-read-and-pay-my-bill/">How to Read and Pay My Bill</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-customers/energy-saver-center/">Energy Saver Center</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="footerSection secondSection">
			<div>
				<h4 class="widgetHeader">Online Support<span class="chatIcon"></span></h4>
				<p>Our Customer support team is available to answer your questions 24X7.</p>
				<a href="#" class="button noBorder">Chat with Customer Support</a>
			</div>

		</div>
		</div>
		<div class=" menu-social-only-menu-container" style="clear:both;">
			<div class="footerSection firstSection">
			</div>
			<div class="footerSection secondSection">
				<h4 class="widgetHeader">Connect with us</h4>
				<ul id="menu-social-only-menu" class="menu">
					<li  class="menu-item  social-icon facebook ">
						<a title="Facebook" target="_blank" href="http://www.facebook.com/GreenMountainEnergyCompany">
							<span class="fbIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon twitter">
						<a title="Twitter" target="_blank" href="http://twitter.com/GreenMtnEnergy">
							<span class="twitterIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon youtube">
						<a title="YouTube" target="_blank" href="http://www.youtube.com/user/GreenMtnEnergy">
							<span class="youtubeIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon instagram">
						<a title="Instagram" target="_blank" href="http://instagram.com/greenmtnenergy">
							<span class="instaIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon linkedin">
						<a title="LinkedIn" target="_blank" href="http://www.linkedin.com/company/green-mountain-energy-company">
							<span class="linkedInIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon google-plus">
						<a title="Google+" target="_blank" href="http://plus.google.com/+greenmountainenergy/posts">
							<span class="googlePlusIcon"></span>
						</a>
					</li>
					<li class="menu-item  social-icon flickr">
						<a title="Flickr" target="_blank" href="http://www.flickr.com/photos/greenmtnenergy/">
							<span class="flickrIcon"></span>
						</a>
					</li>
				</ul>
			</div>

		</div>
		<div  class="footerSectionHolder">
		<div class="footerSection firstSection">
			<ul  class="menu">
				<li  class="menu-item  menu-item-has-children"><a href="https://www.greenmountainenergy.com/our-story/news-room/">Newsroom</a>
					<ul class="sub-menu">
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/blog/">Blog</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/news-room/our-press-releases/">Press Releases</a></li>
						<li  class="menu-item "><a href="https://www.greenmountainenergy.com/for-home/customer-testimonials/">Social Chatter</a></li>
						<li  class="menu-item "><a href="http://brand.greenmountain.com/">Brand Guidelines</a></li>
					</ul>
				</li>
				<li  class="menu-item  menu-item-has-children "><a href="https://www.greenmountainenergy.com/our-story/">Our Story</a>
					<ul class="sub-menu">
						<li class="menu-item"><a href="https://www.greenmountainenergy.com/our-story/our-company-mission/">Our Mission</a></li>
						<li class="menu-item"><a href="https://www.greenmountainenergy.com/our-story/our-company-mission/our-company-timeline/">Our Timeline</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/sustainability/customer-impact/">Customer Impact</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/sustainability/">Sustainability</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/markets-we-serve-projects-we-support/">Projects We Support</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/meet-team/">Meet the Team</a></li>
					</ul>
				</li>
				<li class="menu-item  menu-item-has-children menu-item-36719"><a href="https://www.greenmountainenergy.com/our-story/careers/">Careers</a>
					<ul class="sub-menu">
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/careers/current-openings/">Current Openings</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/careers/our-benefits/">Our Benefits</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/our-company-mission/our-business/">Our Offices</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/careers/career-faqs/">FAQs</a></li>
						<li class="menu-item "><a href="https://www.greenmountainenergy.com/our-story/sustainability/employee-sustainability-programs/">Employee Programs</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="footerSection secondSection">
			<div>
				<h4 class="widgetHeader">Stay up to date</h4>
				<p>Signup for our newsletter.</p>
				<input type="text" class="text-center" placeholder="Email address" name="emailAddress" id="emailAddress"/>
				<a href="#" class="button noBorder">Chat with Customer Support</a>
			</div>
		</div>
		</div>
		<div class="footerLinkSection footerSectionHolder">
			<div class="footerSection firstSection">
				<a href="">News Room</a> |
				<a href="">Terms of Use</a> |
				<a href="">Privacy Policy</a> |
				<a href="">Privacy Policy</a> |
				<a href="">Español</a>
				<span class="copyright">&copy; 2017 Green Mountain Energy Company. Copyright. PUCT Certificate No. 10009.</span>
			</div>
			<div class="footerSection secondSection">
				<a href="http://www.bbb.org/central-texas/business-reviews/electric-companies/green-mountain-energy-company-in-austin-tx-51188" target="_blank" class="text-right">
					<img class="text-right" src="images/bbb.png" alt="bbb" width="135" height="51">
				</a>
			</div>
		</div>
  </footer>
